<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>45456BA5-8113-482D-ACA4-8B362DB231E6.playgroundpage</string>
		<string>8C9B0175-7136-47B6-AF75-AEEC36C07944.playgroundpage</string>
		<string>C5AE801A-96B8-4F9C-B7B4-7E8C32292D88.playgroundpage</string>
		<string>835E5EDF-0676-4BF9-90CE-5F52D569F114.playgroundpage</string>
	</array>
</dict>
</plist>
